body{
	font-family: Arial, sans-serif;
	background-color:#a47864 ;
	margin: 0;
}
header{
	background-color: #2ebee6;
	color: #080604;
	align-items: center;
	padding: 10px;
	display: flex;
}
header h1{
	flex: 1;
	text-align: center;
}
.logo{
	height:60px ;
}
nav{
	background-color: #a9e2f0;
	padding : 10px;
	text-align: center;
	width: 100%;
}
nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav a:hover {
  background-color: #4fb6cf;
  color: white;
  border-radius: 5px;
}
.content{
	background-color: #dcdee0;
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.content2{
	background-color: #a9e2f0;
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
#headings{
	background-color: #dcdee0;
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
html, body {
    height: auto;
    margin: 0;
}

body {
    border: 15px solid #a9e2f0;
    box-sizing:content-box; 
}
.triText {
    display: flex;
    gap: 20px;              
    justify-content: center;
    margin: 20px 0;
}

.textBox {
    background-color: #dcdee0;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
}
.table{
  border: 0;
  border-collapse: collapse;
  text-align: center;
  border: none;
}
.layout-table{
	margin: 0 auto;
}
.error{
	color: red;
	font-size: large;
	font-weight: bold;
  	margin-top: 5px;
}